---
import Layout from '../layouts/Layout.astro';
import { TheStation } from '../components/TheStation';
import MicroWidget from '../components/MicroWidget';
import { MusicPlayer } from '../components/MusicPlayer';

const homepageSchema = {
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://okayimbored.com/#website",
      "url": "https://okayimbored.com/",
      "name": "OkayImBored",
      "description": "Bored? Spend one minute with us. Explore weird facts, tiny experiments, and surprisingly comforting internet experiences.",
      "publisher": {
        "@id": "https://okayimbored.com/#organization"
      }
    },
    {
      "@type": "Organization",
      "@id": "https://okayimbored.com/#organization",
      "name": "OkayImBored",
      "url": "https://okayimbored.com/",
      "logo": {
        "@type": "ImageObject",
        "url": "https://okayimbored.com/social-card.jpg"
      }
    }
  ]
};
---

<Layout schema={JSON.stringify(homepageSchema)} hideWidgets={true} mainClass="w-full h-full p-0 m-0 overflow-hidden">
	<TheStation client:load />
	<MicroWidget client:idle transition:persist="micro-widget" />
	<div transition:persist="music-player">
		<MusicPlayer client:load setSFXVolume={() => {}} />
	</div>
</Layout>
