---
import BuildingLayout from '../layouts/BuildingLayout.astro';
import NoticeBoard from '../components/NoticeBoard';
---

<BuildingLayout title="The Notice Board" noindex={true} mainClass="w-full max-w-none p-0 flex-1 flex flex-col">
  <div class="relative w-full h-screen bg-[#050505]">
    <NoticeBoard client:load />
  </div>
</BuildingLayout>
